<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SCRIPTS ICONOS -->
    <script src="https://kit.fontawesome.com/db59255a97.js" crossorigin="anonymous"></script>
    <!-- TIPOGRAFIA -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../ASSETS/CSS/Melo.css">
    <title>Menú Cupa</title>
</head>
<body>
    <!-- <header class="header">
        <a href="0-Index.html" class="logo"><img src="../ASSETS/IMG/logo cupa.png" alt=""></a>
        <nav class="navegacion">
            <a href="../0-Index.html">Inicio</a>
            <a href="#CocinaReal">Cocina Real</a>
            <a href="#Eventos">Eventos</a>
            <a href="VIEW/01-Menu_Cupa_All.html">Menú Cupa</a>
            <a href="#Ordenar">Ordenar</a>
            <a href="#Contactanos">Contactanos</a>
        </nav>
        <div class="iconos">
            <div class="fas fa-bars" id="menu"></div>
            <div class="fas fa-search" id="buscador" title="¿que deseas buscar?"></div>
            <div class="fas fa-shopping-cart" id="carrito" title="Mi carrito"></div>
            <div class="fas fa-user" id="user" title="Iniciar Session"></div>
        </div>
        <form action="" class="buscador">
            <input type="text" id="buscador-caja" placeholder="¿Que deseas buscar?">
            <label for="buscador-caja" class="fas fa-search"></label>
        </form>
        <form action="" class="carrito">
            <h3>Mi Carrito:</h3>
            <p>!Oh! Debes iniciar sesion primero.</p>
            <p>Iniciar session <a href="VIEW/03-Iniciar_Session.html">Aquí</a>.</p>
        </form>
    </header> -->
<div class="menu">
    <div class="textoMenu">
        <h1>CUPA BURGER</h1>
        <H3>&mdash; MENU &mdash;</H3>
    </div>   
</div>    
<!-- <div class="BarraMe">
    <h2>¿Que comida deseas el dia de hoy?</h2>
</div>
<div class="categoriasMenu">
    <a href="">Todo</a>
    <a href="">Entradas</a>
    <a href="">Hamburgesas</a>
    <a href="">Platos a la Carta</a>
    <a href="">Bebidas</a>
</div> -->
<div class="food-items">
    <img src="/ASSETS/IMG/entrada.jpg" alt="">
    <div class="details">
        <div class="detail-sub">
            <h5>Entrada rika</h5>
            <h5 class="price">
                $2.500
            </h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <button>add to card</button>
    </div>
</div>

<div class="food-items">
    <img src="/ASSETS/IMG/bebida.webp" alt="">
    <div class="details">
        <div class="detail-sub">
            <h5>Entrada rika</h5>
            <h5 class="price">
                $2.500
            </h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <button>add to card</button>
    </div>
</div>

<div class="food-items">
    <img src="/ASSETS/IMG/burger.jpg" alt="">
    <div class="details">
        <div class="detail-sub">
            <h5>Entrada rika</h5>
            <h5 class="price">
                $2.500
            </h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <button>add to card</button>
    </div>
</div>

<div class="food-items">
    <img src="/ASSETS/IMG/plato.jpg" alt="">
    <div class="details">
        <div class="detail-sub">
            <h5>Entrada rika</h5>
            <h5 class="price">
                $2.500
            </h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <button>add to card</button>
    </div>
</div>

<div class="food-items">
    <img src="/ASSETS/IMG/todo.jpg" alt="">
    <div class="details">
        <div class="detail-sub">
            <h5>Entrada rika</h5>
            <h5 class="price">
                $2.500
            </h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <button>add to card</button>
    </div>
</div>

<div class="food-items">
    <img src="/ASSETS/IMG/entrada.jpg" alt="">
    <div class="details">
        <div class="detail-sub">
            <h5>Entrada rika</h5>
            <h5 class="price">
                $2.500
            </h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <button>add to card</button>
    </div>
</div>

<div class="food-items">
    <img src="/ASSETS/IMG/entrada.jpg" alt="">
    <div class="details">
        <div class="detail-sub">
            <h5>Entrada rika</h5>
            <h5 class="price">
                $2.500
            </h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <button>add to card</button>
    </div>
</div>

<div class="food-items">
    <img src="/ASSETS/IMG/entrada.jpg" alt="">
    <div class="details">
        <div class="detail-sub">
            <h5>Entrada rika</h5>
            <h5 class="price">
                $2.500
            </h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <button>add to card</button>
    </div>
</div>
</body>
</html>



